.card {
	position: fixed;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	background-color: #fff;
	display: flex;
	flex-direction: column;
	gap: 24px;

	border: 1px solid var(--gray-950);
	border-radius: 20px;
	padding: clamp(10px, 3vw, 24px);
	max-width: 384px;
	min-width: 207px;
	max-height: 522px;

	box-shadow: 8px 8px 0 0 #000;
	cursor: pointer;
}

.card:hover .card__title {
	color: var(--yellow);
}
.card__img-box {
	user-select: none;

	max-width: 100%;
}
.card__img {
	border-radius: 10px;
	width: 100%;
}

.card__content {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.card__tag {
	background: var(--yellow);
	display: inline-block;

	border: none;
	border-radius: 4px;
	padding: 4px 12px;

	font-weight: 800;
	font-size: 14px;
}
.card__data-publication {
	font-size: 14px;
}
.card__title {
	font-weight: 800;
	font-size: clamp(16px, 3vw, 24px);
}
.card__description {
	color: var(--gray-500);
	font-size: clamp(14px, 3vw, 16px);
}
.card__author {
	display: flex;
	align-items: center;
}
.card__author-photo {
	user-select: none;

	max-width: 32px;
	max-height: 32px;
}
.card__author-name {
	margin-left: 12px;
	font-weight: 800;
	font-size: 14px;
}
